/* Header.css */
.App-header {
    background: linear-gradient(135deg, #3b5998, #8b9dc3); /* Blu Facebook */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.App-header h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700; /* Font-weight bold */
    letter-spacing: 1.5px;
    margin: 0;
}

.language-switch {
    display: flex;
    gap: 10px;
}

.language-switch button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4a69a3; /* Blu scuro */
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.language-switch button:hover {
    background-color: #34495e; /* Blu molto scuro */
    transform: scale(1.05);
}

.language-switch button.active {
    background-color: #ff6f61;
    color: white;
    font-weight: 700; /* Font-weight bold */
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .App-header h1 {
        font-size: 2rem;
    }

    .language-switch button {
        font-size: 0.9rem;
    }
}
